
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488380313279'); /* IE9*/
  src: url('iconfont.eot?t=1488380313279#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488380313279') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488380313279') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488380313279#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jineng:before { content: "\e607"; }

.icon-mingpian:before { content: "\e631"; }

.icon-23:before { content: "\e62f"; }

.icon-zuopin:before { content: "\e630"; }

