*{
	margin: 0;
	padding: 0;
}
body { 

}
#musicPlay{
	width: 300px;
	height: 400px;
	margin:  100px auto;
	border-radius: 0 10px 10px 10px;
	box-shadow: 3px 3px #ddd;
	position: relative;	
	background:
	linear-gradient(-45deg, 
	rgba(220, 161, 83, 0.5), 
	rgba(217, 157, 97, 0.5) 25%, 
	rgba(217, 157, 97, 0.5) 25%, 
	rgba(155, 139, 100, 0.5) 40%, 
	rgba(155, 139, 100, 0.5) 40%, 
	rgba(35, 44, 73, 0.5) 75%, 
	rgba(35, 44, 73, 0.5) 75%, 
	rgba(11, 10, 43, 0.5));
}
#header{
	height:40px;
	width:300px;
	border-radius: 0 10px 0 0;
}
#header .meun{
	float: left;
	line-height: 40px;
	height: 40px;
	text-indent: 0.8em;
}
#header .meun span{
	cursor: pointer;
}
#header .icon-share{
	float:right
}

.brief{
	position:relative
}

.brief .img{
	height: 50px;
	width: 50px;
	text-align: center;
	position:absolute;
    filter: blur(1px)
}
.brief h3{
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin-bottom:5px
}
.brief .singer{
	color: #ccc;
	font-size: 14px;
	text-align: center;
}
.icon-heat{
	position:absolute;
	left:270px;
	top:10px;
	cursor:pointer;
}

.icon-share{
	line-height: 40px;
	padding-right: 10px;
	cursor: pointer;
	color: #fff;
}
.icon{
	position: absolute;
	bottom: 0;
	width: 300px;
	height: 85px;
}

.icon .playAndpause{
	height:40px;
	width:40px;
	border: 1px solid #000;
	line-height: 40px;
	border-radius: 50%;
	position: relative;
	top:25px;
	left: 30px;
	cursor:pointer;
	text-align: center
}
.icon .forward{
	height:30px;
	width: 30px;
	border: 1px solid #000;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 90px;
	top:-12px;
	line-height: 30px;
}
.forward .icon-fastforward{
	position: absolute;
	left:8px;
	top:1px;
	cursor:pointer
}
.progress-ct{
	height:20px;
	width: 260px;
	position: absolute;
	left:20px;
	top:0;
	line-height:20px	
}
.progress-ct .current{
    font-size:14px;
	position:absolute;
	left:0
}
.progress-ct .duration{
    font-size:14px;
	position:absolute;
	right:0
}

.progress{
	position: absolute;
	left:40px;
	top:9px;
	height: 2px;
	width: 180px;
	border-radius: 1px;
	background: rgba(102, 102, 102, 0.2);
	cursor: pointer
}
.progress .line{
   position:absolute;
   left: 0;
   height:2px;
   width:0px;
   background: #db4437
}




.channel{
        overflow: hidden;
		height:380px;
		width: 80px;
		position: absolute;	
	    left:-80px;
	    top: 0px;	
	
		
}
.channel-list{
	position: absolute;	
	left:80px;
	top: 0px;
	border:none;
	height:380px;
	overflow:auto;
	text-align: center;
	border:1px solid  #19d5c7;
	box-shadow: -1px 1px #ccc;
	box-sizing: border-box;
	width:80px;
	
}
.channel-list li{
	list-style: none;
	font-size: 12px;
	line-height: 30px;
}
.channel-list li:nth-of-type(1){
	border-left: 4px solid red
}
.channel-list li:hover {
	background: rosybrown;
	cursor: pointer;
	transition: 0.5s
}
.lyric-ct{
	width: 300px;
	height: 150px;
    text-align: center;
	margin-top: 35px;
    overflow: hidden;
	position: relative
}
.lyric{
	font-size: 12px;
	font-weight: 2px;
	color:#fff;
	line-height: 20px;
	position:absolute;
    left: 50%;
	transform: translate(-50%,0);
	top:80px
}
.lyric .light{
	color:red;
  transition: 0.5s
}




.volume{
	height:20px;
	width: 220px;
	position: absolute;
	left:40px;
	top:285px;
	line-height:16px;	
}
.volume .icon-yinliang{
     font-size: 17px;
	 position: absolute;
	 left: 17px;
	 top:2px;
	 cursor: pointer
}
.volume .icon-wusheng{
     font-size: 14px;
	 position: absolute;
	 left: 17px;
	 top:3px;
	 cursor: pointer
}
.volume-ct{
	position: absolute;
	left:40px;
	top:9px;
	height: 2px;
	width: 150px;
	border-radius: 1px;
	background: rgba(102, 102, 102, 0.4);
	cursor: pointer
}
.volume-ct .line{
   position:absolute;
   left: 0;
   height:2px;
   width:150px;
   background:#fff
}
.volume-ct .handle{
    position: absolute;
	left: 146px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background:#fff;
	cursor: pointer;
	margin: -3px 0
}
