*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
body{
    background: #bbb
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.page-wrap{

    background-size:cover; 
    height: 100%
}
.aside{
    position: fixed;
    left: 0;
    top: 0;
    min-width: 250px;
    height: 100%;
    background: #2e2e2e;
    background:#a29971;
    text-align: center;
}
.photo{
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 20px;
}
.aside a{
    color: #ffecec;
    font-size: 16px;
}
.aside span{
    font-size: 24px;
    display: block;
    margin-bottom: 50px;
    color:#2bb0d4;
}
.aside .intro{
    text-align: left;
}
.aside .intro>li{
    padding-left:70px;
    width:180px;
    line-height:35px;
    margin-bottom:5px;
    cursor: pointer;
}
.aside .intro li:hover{
    background-color:#87b0a5;
    transition: 0.6s;
    display: inline-block
}
.aside .intro .active{
       background-color: #87b0a5;
}

.aside .icon{
    margin-right: 10px;
}
.footer{
   position: absolute;
   bottom: 10px;
   left: 30px
}

.footer .logo a{
 display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.logo .icon{
    margin: 0 9px;
}
.logo .email{
    background-color: rgb(0, 171,108);
    opacity: 0.5;
}
.logo .book{
    background-color: rgb(88,70,19);
    opacity: 0.5;
}
.logo .git{
    background-color: #000000;
    opacity: 0.5;
}
.logo .weibo{
    background-color: rgb(150,14,14);
    opacity: 0.5;
}
.footer .logo a:hover{
    opacity: 1;
}
.footer .source{
    font-size: 14px;
    color:#000;
    margin:10px 0;
}
.footer .source span.right{
    font-size: 14px; 
    color:#000; 
}
.footer .source a{
    font-size: 14px;
    color:#000;
    margin: 0;
    text-decoration: underline;
}

.person{
    padding-top: 30px;
    padding-left: 350px;
    font-size:16px;
    color: #fff;
    background: #87b0a5;
    background-size:cover;
    background-position:center;
    height:100%
}
.person>h3{
    font-size: 20px;
    margin-bottom: 20px
}
.person li{
    margin-bottom: 10px
}
.person li:last-child{
    margin-bottom:0
}
.person li span{
    margin-right:4px
}
.person .intro{
    margin-top: 80px;
    font-size:14px;
    line-height: 24px
   
}

#nav{
    width: 100%;
    height: 50px;
    background: #000;
    display: none  ;
}
#nav span{
    float: right;
    color: white;
    line-height: 50px;
}

@media (max-width: 500px) {
  .aside{
      display: none
  }
  #nav{
      display: block
  }
  
}
#items{
    padding-left: 250px;
}
#items>.title{
    font-size:20px;
    text-indent: 4em
}


.itemList{
    width: 80%;
    margin: 30px auto; 
}

.itemList>a{
    width: 45%;
    float: left;
    height: auto;
    position: relative;
    margin:0 5px 5px 0;
    font-size:14px;
    color: #ccc;
    display: inline-block;
    overflow:hidden;
}
.itemList>a>img{
    width: 100%;
    height: auto;
    position:relative;
    z-index:-1;
}
.music,.game,.todo,.note,.dataPicker,.solider{
   position:relative;
   background:rgba(7,17,27,0.3);
   box-shadow:0 2px 5px 0 rgba(0,0,0,.3)
}

.music h1,
.game h1,
.todo h1,
.note h1,
.dataPicker h1,
.solider h1{
    position:absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-50%);
    font-size:1.5em;
    font-weight:700 
}
.music p,
.game p,
.todo p,
.note p,
.dataPicker p,
.solider p{
    position:absolute;
    top:35%;
    display: none;
    width:100%;
    text-align: center
}
@keyframes h1 {
  0% { top: 35%; }
  100% { top:30%; }
}
@keyframes p {
  0% { top: 43%;}
  100% { top:45%; }
}
.music:hover h1,
.game:hover h1,
.todo:hover h1,
.note:hover h1,
.dataPicker:hover h1,
.solider:hover h1
{
    animation: 0.5s h1 forwards 
}

.music:hover p,
.game:hover p,
.todo:hover p,
.note:hover p,
.dataPicker:hover p,
.solider:hover p
{
    display: block;
    transition: 0.5s;
    animation: 0.5s  p forwards
}
.music:hover,
.game:hover,
.todo:hover,
.note:hover,
.dataPicker:hover,
.solider:hover
{
    background-color:rgba(7,117,27,0.6);
}
.music:hover img,
.game:hover img,
.todo:hover img,
.note:hover img,
.dataPicker:hover img,
.solider:hover img
{
    transform: scale(1.02,1.02);
    transition: 0.5s 
}

#skills{
    padding:150px 0;
    margin-left: 250px;
    background: #109085;
    position:relative;
    z-index: -1
}
#skills .wrap{
    width: 600px;
     text-align: center;
     margin: 0 auto
}
.skillList{
    position: absolute;
    bottom:20px;
    left:50px;
    list-style-type: square;
}
.skillList>li{
    list-style-type:disc;
    font-size:14px;
    line-height: 28px 
}
















